<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="ace-icon fa fa-home home-icon"></i>
      <a >Bàn làm việc</a>
    </li>
  </ul><!-- /.breadcrumb -->
</div>

  <div class="page-content"style="background-color: pink;">
    <div class="row" >
      <div class="col-xs-12" >
        <!-- PAGE CONTENT BEGINS -->
                   <h3 style="font-weight: 600;"><i> CHÀO MỪNG ĐẾN VỚI ADMIN QUẢN LÝ MỸ PHẨM COSMETIC BEAUTY</i></h3>
                    <br/>
                    <div class="container"><img src="/assets/images/banner.jpg" alt=""></div>
        <!-- PAGE CONTENT ENDS -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.page-content -->
